@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
}

body {
  margin: 0;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-menu a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.button {
  padding: 11px 19px;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  color: #fefefe;

  background-color: #e94f38;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.button:hover,
.button:focus {  
  background-image: -moz-linear-gradient( 90deg, rgba(255,255,255, 0.2) 100%, rgba(255,255,255, 0.2) 100%),
                    -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(255,255,255, 0.2) 100%, rgba(255,255,255, 0.2) 100%),
                     -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(255,255,255, 0.2) 100%, rgba(255,255,255, 0.2) 100%),
                    -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);  
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}

.header-logo-link {
  margin-right: 10px;
}

.menu-link {
  position: relative;

  padding: 6px 14px;

  border-radius: 15px;  
}

.menu-link::before {
  content: "";

  position: absolute;
  top: 26px;

  width: calc(100% - 28px);
  height: 1px;

  
  background-color: #ffffff;
  opacity: 0.2;
}

.menu-link:hover,
.menu-link:focus {
  color: #323232;

  background-color: #f7f6f3;  
}

.menu-link:active {
  color: #323232;

  background-color: #f7f6f3;
  box-shadow: inset 0 2.5px 1px 0 #696969;
}

.menu-link.selected,
.menu-link.selected:hover,
.menu-link.selected:active {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-categories-container {
  position: relative;
  height: 30px;
}

.navigation-menu {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;
}

.catalog-categories {
  position: absolute;
  top: 31px;
  left: -6px;
  z-index: 1;
  
  display: none;
  width: 143px;  
  margin: 0;  
  padding: 0;

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  list-style: none;
}

.catalog-categories-container:hover .catalog-categories {
  display: block;
}

.navigation-menu .catalog-categories {
  background-color: #f8f7f4;
}

.catalog-categories .categoires-link {
  display: block;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 19px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.catalog-categories > li:last-of-type .categoires-link {
  margin: 0;
}

.catalog-categories > li:nth-of-type(2) .categoires-link {
  padding-top: 10px;
}

.catalog-categories > li:last-of-type .categoires-link {
  padding-bottom: 12px;
}

.catalog-categories .new-goods.categoires-link {
  position: relative;

  margin: 0;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 19px;
}

.new-goods.categoires-link::before {
  content: "";

  position: absolute;
  top: 38px;
  left: 5px;

  width: 128px;
  height: 1px;

  background-color: #d1d0ce;
}

.catalog-categories .categoires-link:hover,
.catalog-categories .categoires-link:focus {
  background-color: #fbded7;  
}

.catalog-categories .categoires-link:active {
  background-color: #f6b5a5; 
}

.catalog-categories > li:first-of-type .categoires-link:hover,
.catalog-categories > li:first-of-type .categoires-link:focus {
  border-radius: 5px 5px 0 0;  
}

.catalog-categories > li:first-of-type .categoires-link:hover {
  border-radius: 5px 5px 0 0;  
}

.catalog-categories > li:last-of-type .categoires-link:hover,
.catalog-categories > li:last-of-type .categoires-link:focus {
  border-radius: 0 0 5px 5px;  
}

.catalog-categories > li:last-of-type .categoires-link:hover {
  border-radius: 0 0 5px 5px;  
}

.categoires-link.selected,
.categoires-link.selected:hover {
  color: #ffffff;

  background-color: #d07058;
}

.new-goods.categoires-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}

.header-button {
  font-size: 14px;
  line-height: 16px;  
  font-weight: 500;
  color: #ffffff;

  background-color: #9db1a5;
}

.search-button {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.search-button svg {
  position: absolute;  
  top: 7px;
  left: 7px;
}

.search-button:hover svg path,
.search-button:focus svg path {
  fill: #323232;
}

.search-section {
  position: relative;
}

form.search {
  position: absolute;
  top: 36px;
  right: 0px;
  z-index: 1;

  display: none;

  color: #323232;

  background-color: #f8f7f4;
  border-top: 20px solid #f8f7f4;
  border-bottom: 21px solid #f8f7f4;
  border-right: 15px solid #f8f7f4;
  border-left: 17px solid #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-section:hover form.search {
  display: block;
}

form.search .search-field {
  min-width: 308px;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 11px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d3d3d2;
}

form.search .search-field:hover {
  border: 2px solid #c7c6c5;  
  border-radius: 5px;
  box-shadow: none;
}

form.search .search-field:focus {
  outline: none;
  border: 2px solid #8fbdec;
  border-radius: 5px;
  box-shadow: none;
}

form.search .search-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.search .search-field::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.search .search-field:-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.search .search-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.header-button:hover,
.header-button:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.page-header-authentication {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header-authentication:hover form.authentication {
  display: block;
}

.cart-operations {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart-button {
  position: relative;

  display: block;  
  padding-top: 9px;
  padding-bottom: 7px;
  padding-right: 18px;
  padding-left: 44px;

  border-radius: 20px;
}

.cart-button::before {
  content: url("../img/shared/empty_cart.svg");

  position: absolute;
  top: 6px;
  left: 16px;
}

.cart-button:hover::before,
.cart-button:focus::before {
  content: url("../img/shared/filled_cart.svg")
}

.cart-operations .cart-goods {
  background-color: #f8f7f4;
}

.cart-goods td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cart-goods .description {
  margin: 0;
}

.cart-goods .position-price {
  color: #999999;
}

.cart-goods .cart-price {
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  color: #323232;
}

.authentication-button {
  display: block;
  
  padding: 8px 0;
  padding-right: 17px;
  padding-left: 43px;

  border-radius: 20px;
}

.authentication-button svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.authentication-button:hover svg path,
.authentication-button:hover svg polygon,
.authentication-button:focus svg path,
.authentication-button:focus svg polygon {
  fill: #000000;
}

form.authentication {
  position: absolute;
  top: 36px;
  right: 0px;
  z-index: 2;

  display: none;

  color: #323232;

  background-color: #f8f7f4;  
  border-top: 20px solid #f8f7f4;
  border-bottom: 21px solid #f8f7f4;
  border-right: 17px solid #f8f7f4;
  border-left: 20px solid #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

form.authentication .authentication-field {
  box-sizing: border-box;
  min-width: 240px;
  margin-bottom: 22px;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 11px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d3d3d2;
}

form.authentication .authentication-field:last-of-type {
  margin-bottom: 17px;
}

form.authentication .authentication-field:hover {
  border: 2px solid #c7c6c5;
}

form.authentication .authentication-field:focus {
  outline: none;
  border: 2px solid #8fbdec;
}

form.authentication .authentication-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authentication-bottom-right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px;
  margin-right: 2px;
  order: 1;
}

form.authentication .authentication-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.authentication .authentication-field::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.authentication .authentication-field:-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.authentication .authentication-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

form.authentication .authentication-link {
  position: relative;

  display: block;
  min-width: 5px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  text-decoration: underline;
  text-decoration-color: #b2b2b2;
}

form.authentication .authentication-link:last-of-type {
  position: relative;
  top: -2px;
}

form.authentication .authentication-link:hover,
form.authentication .authentication-link:focus,
form.authentication .authentication-link:active {
  color: #e84d37;

  text-decoration-color: rgba(232, 77, 55, 0.3);
}

form.authentication .authentication-submit {    
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 24px;

  border-radius: 20px;
}

.phone-to-call {
  position: absolute;
  top: 49px;
  right: 0px;
  z-index: 1;

  margin: 0;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.phone-to-call {
  margin-right: 1px;
}

.phone-to-call .number {
  display: block;
  margin-right: -1px;
  padding-top: 4px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;  
  color: #ffffff;
}

.catalog-page .page-title {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none; 
}

.breadcrumb-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(169, 187, 177, 0.3);
}

.breadcrumb-link.selected {
  border-bottom: none;
}

.breadcrumb-link:hover:not(.selected),
.breadcrumb-link:focus,
.breadcrumb-link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(167, 162, 148, 0.3);
}

.breadcrumb-link.selected:hover {
  color: #ffffff; 
}

.promos {
  position: relative;
}

.promos-slider-control {
  position: absolute;
  top: 485px;

  display: flex;
  flex-wrap: wrap;
  width: 267px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-button {
  width: 21px;
  height: 21px;
  margin-right: 8px;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-button.selected-slide {
  background-color: #ffffff;
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.4);

  cursor: pointer;
}

.slider-button:active {
  background-color: #ffffff;

  cursor: pointer;
}

.slider-button.selected-slide:hover {
  background-color: #ffffff;

  cursor: default;
}

.promos-list {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  list-style: none;
}

.promos-list h3 {
  margin: 0;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.promos-list li:nth-of-type(1) {
  background-color: #849d8f;
}

.promos-list li:nth-of-type(2) {
  background-color: #8996a6;
}

.promos-list li:nth-of-type(3) {
  background-color: #9d8b84;
}

.promo-purchase-link {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.feature-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 230px;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 25px;

  border-radius: 20px;
  background-color: #849d8f;
}

.feature-item .title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.feature-description {
  margin: 0;
  
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.feature-link {
  display: block;
  align-self: flex-end;
  margin-top: 43px;
  padding-top: 9px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 24px;
}

.raspbery-promo {
  background-image: url("../img/index/index_feature_raspberry.jpg");
  background-repeat: no-repeat;
}

.chocolate-promo {
  background-image: url("../img/index/index_feature_chocolate.jpg");
  background-repeat: no-repeat; 
}

.goods-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-title {
  z-index: 2;

  margin: 0;

  text-align: center;
}

.goods-title > a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;  
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.goods-title > a:hover,
.goods-title > a:focus,
.goods-title > a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.goods-item .price {
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

  color: #ffffff;
}

.price .weight-metric {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff; 
}

.shop-info {
  background-color: #ebddbd;
  background-image: url("../img/index/features_background_template.jpg");
  background-repeat: repeat;
}

.shop-info .main-info {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.shop-features {
  margin: 0;
  padding: 0;

  list-style: none;
}

.shop-features .feature {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.ice-cream-blog {
  background-color: #ffffff;
  background-image: url("../img/index/serving_article_background.jpg");
  background-repeat: no-repeat;
}

.ice-cream-blog .title {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.ice-cream-blog .article-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  border-bottom: 2px solid #353535;
}

.subscription {
  background-color: #f8f7f4;
  background-image: url("../img/index/contact_us_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-content {
  background-color: #f8f7f4;
}

.subscription-decription {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscription-form .subscription-email-field {
  border: 1px solid #d3d3d2;
}

.subscription-form .subscription-email-field:hover {
  border: 2px solid #c7c6c5;
}

.subscription-form .subscription-email-field:focus {
  outline: none;
  border: 2px solid #8fbdec;
}

.subscription-form .subscription-email-field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.subscription-form .subscription-email-field::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.subscription-form .subscription-email-field:-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.subscription-form .subscription-email-field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.location {
  background-color: #ffffff;
}

.location .address,
.location .phone {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.address .address-line {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.phone .phone-line {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.page-footer {
  background-color: #849d8f;
}

.social-networks {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  background-color: rgba(255, 255, 255, 0);
  /* add images after overlay */
}

.additional-info {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional-info .info-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(169, 187, 177, 0.3);
}

.additional-info .partners {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff; 
}

.additional-info .info-link:hover,
.additional-info .info-link:focus,
.additional-info .info-link:active {
  color: #ffbc9e; 

  border-bottom: 1px solid rgba(167, 162, 148, 0.3);
}

.copyright-description {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.copyright-description .copyright-link {
  color: #ffffff;

  border-bottom: 1px solid rgba(169, 187, 177, 0.3);
}

.copyright-description .copyright-link:hover,
.copyright-description .copyright-link:focus,
.copyright-description .copyright-link:active {
  color: #ffbc9e; 

  border-bottom: 1px solid rgba(167, 162, 148, 0.3);
}

.modal.contact-us {
  background-color: #f8f7f4;
}

.contact-us .declaration {
  margin: 0;
  
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.contact-us-form .contact-us-field {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  border: 1px solid #d3d3d2;
}

.contact-us-form .contact-us-field:hover,
.contact-us-form .form-message-field:hover {
  border: 2px solid #c7c6c5;
}

.contact-us-form .contact-us-field:focus,
.contact-us-form .form-message-field:focus {
  outline: none;
  border: 2px solid #8fbdec;
}

.contact-us-form .contact-us-field::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.contact-us-form .contact-us-field::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.contact-us-form .contact-us-field:-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.contact-us-form .contact-us-field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.contact-us-form .form-message-field {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border: 1px solid #d3d3d2;
}

.contact-us-form .form-message-field:focus {
  color: #323232;
}

.sorting-filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.price-filters {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff; 
}

.price-filters p {
  margin: 0;
}

.fats-filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.fats-filters label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff; 

  opacity: 0.8;
}

.ingredient-filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff; 
}

.ingredient-filters label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff; 

  opacity: 0.8;
}

.fats-filters label:hover,
.ingredient-filters label:hover,
.fats-filters label:focus,
.ingredient-filters label:focus {
  opacity: 1;
}

.fats-field-radio-button:disabled + label,
.ingredient-checkbox:disabled + label {
  opacity: 0.4;
}

.filter-background {
  background-color: rgba(168, 185, 175, 0.2);  
}

.filters-form .filters-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  
  background-color: #a6b7ae;
  border: 2px solid #ffffff;
}

.filters-form .filters-button:hover,
.filters-form .filters-button:focus {
  color: #323232;
  
  border: 2px solid #fbfcfb;
  background-color: #fbfcfb;
}

.filters-form .filters-button:active {
  color: #323232;  
  
  border: 2px solid #eaeaea;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);  
}

.pagination .pages-list {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pages-list .page-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff; 
}

.pages-list .page-link:hover,
.pages-list .page-link:focus {
  background-color: #9db1a5;
}

.pages-list .page-link:active {
  color: #323232;

  background-color: #ffffff;
}

.page-link.selected,
.page-link.selected:hover {
  color: #323232;

  background-color: #ffffff; 
}

.go-back.on-first-page {
  opacity: 0.2;
}

.go-back.on-first-page:hover {
  background-color: inherit;
}

.go-back.on-first-page:active {
  color: inherit;
}

.centring-container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  width: 154px;
  height: 64px;
}

.page-header-navigation {
  display: flex;

  width: 560px;
}

.navigation-menu {
  display: flex;
}

.header-right-column {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 244px;
  margin-top: 15px;
}

.promos {
  margin-bottom: 40px;
}

.promos-list-item {
  display: flex;
  flex-direction: column;
}

.promos-list-item > h3 {
  order: 1;
}

.promos-list-item .promo-purchase-link {
  order: 2;
}

.features {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.popular-goods {
  margin-bottom: 40px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
}

.goods-list > li {
  width: 267px;
  margin-right: 26px; 
}

.goods-list > li:nth-child(4n) {
  margin-right: 0;
}

.goods-item {
  position: relative;  

  display: flex;
  flex-direction: column;  
}

.goods-item:hover::before {
  content: "";

  position: absolute;
  top: -7px;
  left: -13px;
  z-index: 1;

  width: 110%;
  height: 128%;

  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}

.good-overview-link {
  position: absolute;
  left: 30px;
  bottom: -60px;  
  z-index: 2;

  display: none;
}

.goods-item:hover .good-overview-link {
  display: block;
}

.goods-item .good-container {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;

  order: -1
}

.good-container .price {
  position: absolute;
  top: 207px;  
}

.good-container .good-image-wrapper::before {
  content: url("../img/index/popular_icon.svg");

  position: absolute;
  top: 0;
  bottom: 0;
}

.goods-item .good-image {
  order: -1;
}

.shop-info {
  margin-bottom: 40px;
}

.shop-features {
  display: flex;
  flex-wrap: wrap;
}

.shop-features .feature {
  width: 510px;
}

.index-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.ice-cream-blog {
  width: 560px;
}

.subscription {
  width: 560px;
}

.location {
  width: 1200px;
  margin: 0 auto;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.social-networks {
  width: 267px;  
}

.additional-info {
  width: 352px;
}

.copyright-container {
  width: 267px;
}

.catalog-top-row {
  display: flex;
  flex-direction: column-reverse;

  margin-bottom: 30px;
}

.filters {
  width: 880px;
  margin-bottom: 35px;
}

.catalog-page .goods-list {
  margin-bottom: 85px;
}

.catalog-page .page-footer {
  margin-top: 25px;
}

.location-right-container {
  width: 302px;
}