@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 400;
}

body {
  margin: 0;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.navigation-menu a {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.button {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  color: #fefefe;

  background-color: #e94f38;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  border: 0;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.menu-link:hover,
.menu-link:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.menu-link::active {
  color: #323232;

  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.navigation-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-categories {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-menu .catalog-categories{
  background-color: #f8f7f4;
}

.catalog-categories .categoires-link {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #323232;
}

.catalog-categories .categoires-link:hover,
.catalog-categories .categoires-link:focus {
  background-color: #fbded7; 
}

.catalog-categories .categoires-link:active {
  background-color: #f6b5a5;
}

.new-goods.categoires-link {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}

.header-button {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;  
  font-weight: 400;
  color: #ffffff;

  background-color: #9db1a5;
}

form.search {
  color: #323232;


  background-color: #f8f7f4;
}

form.search .search-field {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #323232;
}

form.search .search-field::-webkit-input-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.search .search-field::-moz-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.search .search-field:-moz-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.search .search-field:-ms-input-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

.header-button:hover,
.header-button:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.page-header-authentication {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart-operations {
  margin: 0;
  padding: 0;

  list-style: none;
}

form.authentication {
  color: #323232;

  background-color: #f8f7f4;
}

form.authentication.authentication-field {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #323232;
}

form.authentication.authentication-field::-webkit-input-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.authentication.authentication-field::-moz-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.authentication.authentication-field:-moz-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.authentication.authentication-field:-ms-input-placeholder {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #999999;
}

form.authentication .authentication-link {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  color: #323232; 
}

form.authentication .authentication-link:hover,
form.authentication .authentication-link:focus,
form.authentication .authentication-link:active {
  color: #e84d37;
}

.phone-to-call {
  margin: 0;
  
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;  
  color: #ffffff;
}

.phone-to-call .number {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;  
  color: #ffffff;
}

.promos-slider-control {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-button {
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-button:not(.selected-slide):hover,
.slider-button:not(.selected-slide):focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-button.selected-slide {
  background-color: #ffffff;
}

.slider-button:hover,
.slider-button:active {
  cursor: pointer;
}

.slider-button:active {
  background-color: #ffffff;
}

.promos-list {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  list-style: none;
}

.promos-list li:nth-of-type(1) {
  background-color: #849d8f;
}

.promos-list li:nth-of-type(2) {
  background-color: #8996a6;
}

.promos-list li:nth-of-type(3) {
  background-color: #9d8b84;
}

.promo-purchase-link {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.feature-item {
  background-color: #849d8f;  
}

.feature-item .title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.feature-item .title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}


.raspbery-promo {
  background-image: url("../img/index/index_feature_raspberry.jpg");
  background-repeat: no-repeat;
}

.chocolate-promo {
  background-image: url("../img/index/index_feature_chocolate.jpg");
  background-repeat: no-repeat; 
}

.goods-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-title > a {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.goods-title > a:hover,
.goods-title > a:focus,
.goods-title > a:active {
  color: #ffbc9e;
}

.goods-item .price {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

  color: #ffffff;
}

.price .weight-metric {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

  color: #ffffff; 
}